*{
  margin: 100;
  padding: 100;
}
body{
  background-color: #4a6759;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.center-container{
  height: 500px;
  width: 350px;
}
.app-heading{
  padding: 4px;
  color: white;  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}
.input-container{
  border: hsl(0, 0%, 0%);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.input-box-todo{
  margin-left: 2px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border:1px solid rgb(11, 9, 9);
  padding-left: 10px;  
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}
.add-btn{
  width:40px;
  height:40px;
  border-radius: 50%;
  border:none;
  background-color:#faf75d;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;  
  cursor: pointer;
  transition: 0.3s;
}
.list-container{
  display: flex;
  align-items: left;
  margin-top: 5px;
}
.list-item{
  color:rgb(255, 255, 255);
  font-size:larger;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5px;
  border-radius: 3px; 
  width: 100%;
  height: 20px;
  display: flex;
  align-items: left;
  position: relative;
  margin-top: 10px;
}
.icons{
  position: absolute;
  right: 10px;
}
.icons i{
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;   
}
.icons i:hover{
  transform: scale(1.2);  
}
.icon-delete:hover{
  color: red;
}